a:hover {
    color: black;
  }

.nav-item .nav-item::after{
  color: black;
}

.nav-link .nav-link::after {
  color: black;
}

.btn-link {
  cursor: pointer;
}

.user {
  color: black;
}

.editowl {
  cursor: pointer;

}

#followButton {
  background-color: #0d6efd;
  border-radius: 10%;
  color: white;
  font-weight: bold;
  border-radius: 999px;
}

#unfollowButton {
  border-color: black;
  border-radius: 10%;
  color: black;
  font-weight: bold;
  border-radius: 999px;
}

.fas {
   color: red;
}

.bio_form {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

}

/*
#search-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  left: -22px;
  top: 3px;

  Replace with your own image 
}
*/