a:hover {
    color: black;
  }

.nav-item .nav-item::after{
  color: black;
}

.nav-link .nav-link::after {
  color: black;
}
a:hover {
  color: black;
}

.btn-link {
  cursor: pointer;
}

.user {
  color: black;

}
