a:hover {
    color: black;
  }

.nav-item .nav-item::after{
  color: black;
}

.nav-link .nav-link::after {
  color: black;
}

.btn-link {
  cursor: pointer;
}

.user {
  color: black;
}

.editowl {
  cursor: pointer;

}

#followButton {
  background-color: #0d6efd;
  border-radius: 10%;
  color: white;
}

.likeicon  {
   color: red;
}