{% extends "network/layout.html" %}
{% load humanize %}
{% load static %}

{% block body %}
<h3 class="text-center" style="font-family: 'Roboto', sans-serif; margin-bottom: 1em;">Profile</h3>

<!--Profile user header-->
<div class="container">
    <header class="row justify-content-center">
        <div class="col-12 col-lg-12 border my-2 p-4 bg-white text-center box-shadow" style="border-radius: 10px; box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);">
        <!--Image-->
        <div>
            {{ user_profile.first_name }} <small class="muted-text">@{{ user_profile.username }}</small>
            <img alt="profile picture" height="109" width="65px" href="" style="display: flex; width: 20%;"
            src="{% if user_profile.username == 'john' %}{% static 'network/prof-images/john-2.png' %}{% else %}{% static 'network/images/owl-silhouette.png' %}{% endif %}">
            <div class="row d-flex justify-content-center">
                <h6 class="col-4">{{ user_profile.posts.count }} hoots</h6>
                <h6 class="col-4" id="demo">{{ user_profile.followers.count }} followers</h6>
                <h6 class="col-4">{{ user_profile.following.count }} following </h6>
            </div>  
            <!--Javascript Display List-->
            <div id="followers-view">{% if user.is_authenticated and user == user_profile %} {{ show_all_followers }} {% endif %}</div>
            <!--Javascript Display List-->
            <div id="following-view">{% if user.is_authenticated and user == user_profile %} You are following {{ show_all_following }} {% endif %}</div>
        </div>

        <div style="justify-content: flex-start;">
        </div>
        
        
            <div style="float: left;">{{ user_profile.first_name }} {{ user_profile.last_name }} </div>
            <!--Display Location-->
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg> Brooklyn, NY
            </div>
        <!--Follow/Unfollow Buttons-->
        {% if user.is_authenticated and user != user_profile %}
        <div style="float: right">
            <form action="{% url 'profile' user_profile.username %}" method="POST">
                {% csrf_token %}
                {% if following_profile %} 
                    <input type="submit" value="Following" name="unfollow_button" class="btn following-button"
                           id="unfollowButton">
                {% else %}
                    <input type="submit" value="Follow" name="follow_button" class="btn follow_button" id="followButton">
                {% endif %}
            </form>
        </div>
        {% endif %}
        </div>
    </header>
</div>

{% include "network/hoot_posts.html" with posts=page_posts %}

<!--Pagination--> 
{% if page_posts.paginator.num_pages > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination" style="justify-content: center;">
      {% if page_posts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Back</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Back</a></li>
      {% endif %}
      <li class="page-item current-item"><span class="current page-link">
          {{ page_posts.number }} of {{ page_posts.paginator.num_pages }}
      </span></li>
      {% if page_posts.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a></li>
      {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {% endif %}
    </ul>
</nav>
{% endif %}
<script src="{% static 'network/profile.js' %}"></script>

{% endblock %}