{% extends "network/layout.html" %}
{% load humanize %}
{% load static %}
{% load avatar_tags %}

{% block body %}
<h3 class="text-center" style="font-family: 'Roboto', sans-serif; margin-bottom: 1em;">Profile</h3>

<!--Profile user header-->
<div class="container">
  <div class="col-12 col-lg-12 border my-2 p-4 bg-white box-shadow" style="border-radius: 10px; box-shadow: 0 7px 9px rgba(0, 0, 0, 0.2);">
    <section class="container" style="margin-bottom: 9rem;">
      <!--Image-->
      <!--Profile pics per created accounts-->
        <img alt="profile picture" height="109" width="115px" href="" style="display: inline; margin-right: 3.5rem; margin-bottom: 1rem;"
        src="{% if user_profile.username == 'johnlawniczak' %}{% static 'network/prof-images/john-2.png' %}
            {% elif user_profile.username == 'TheProgrammer' %}{% static 'network/prof-images/john-1.png' %}
            {% elif user_profile.first_name == 'Hermione' %}{% static 'network/prof-images/Hermione.png' %}
            {% elif user_profile.first_name == 'Ron' %}{% static 'network/prof-images/ron.png' %}
            {% elif user_profile.first_name == 'Hagrid' %}{% static 'network/prof-images/Hagrid.png' %}
            {% elif user_profile.first_name == 'Harry' %}{% static 'network/prof-images/harry.png' %}
            {% else %}
            {% static 'network/images/owl-silhouette.png' %}
            {% endif %}">
      <!--Display Num Hoots -->
      <span style="display: inline; padding: 1.5rem; font-weight: bold;">
          {{ user_profile.posts.count }} Hoots
      </span>  
      <!--Display Followers -->
      <span style="display: inline; padding: 1.5rem; font-weight: bold;" type="button" class="number-stat" data-toggle="modal" data-target="#exampleModal">
        {{ user_profile.followers.count }} Followers
      </span>
      <!--Display Following -->
      <span style="display: inline; padding: 1.5rem; font-weight: bold;" type="button" class="number-stat" data-toggle="modal" data-target="#exampleModal-2">
        {{ user_profile.following.count }} Following
      </span>

      <!-- Name and Username -->
      <div>
        <span style="float: left;">
        {{ user_profile.first_name }} {{ user_profile.last_name }} 
        <br>
        <small class="muted-text">@{{ user_profile.username }}</small>
        <br>

         <!--Profile Bio-->
         {% if user_profile.bio %}
        <div style="margin-top: 1rem;">{{ bio }}</div>
        {% endif %}
        
        <div style="margin-top: .6rem;">
          <!--Location-->
          {% if user_profile.location %}
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16" style="margin-left: -8px; margin-bottom: 2px;">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          {{ location }} 
          &nbsp; 
          {% endif %}
          <!--Website-->
          {% if user_profile.website %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
          </svg>
          <a href="{{ user_profile.website }}">{{ website }}</a>
          &nbsp; 
          {% endif %}
          {% if user_profile.dob %}
          <!--DOB-->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 9.984C10.403 9.506 12 7.48 12 5a4 4 0 0 0-8 0c0 2.48 1.597 4.506 4 4.984ZM13 5c0 2.837-1.789 5.227-4.52 5.901l.244.487a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.244-.487C4.789 10.227 3 7.837 3 5a5 5 0 0 1 10 0Zm-6.938-.495a2.003 2.003 0 0 1 1.443-1.443C7.773 2.994 8 2.776 8 2.5c0-.276-.226-.504-.498-.459a3.003 3.003 0 0 0-2.46 2.461c-.046.272.182.498.458.498s.494-.227.562-.495Z"/>
            </svg>
          {{ dob }}
          {% endif %}
        </div>
        
        <!--Profile Cake Day/Join Date-->
        <small class="muted-text"><i class="fa fa-birthday-cake" aria-hidden="true" style="margin-top: .9rem; margin-right: .2rem; margin-left: -4px;"></i> {{ user_profile.date_joined }}</small>
        
        <!--Follow/Unfollow Buttons-->
        {% if user.is_authenticated and user != user_profile %}
      </span>
        <span style="float: right; margin-top: 1.5rem; margin-right: .5rem;">
          <form action="{% url 'profile' user_profile.username %}" method="POST">
            {% csrf_token %}
            {% if following_profile %} 
            <input type="submit" value="Following" name="unfollow_button" class="btn following-button" id="unfollowButton">
            {% else %}
            <input type="submit" value="Follow" name="follow_button" class="btn follow_button" id="followButton">
            {% endif %}
          </form>
            {% else %}
          <!--Edit Profile Button-->
        </span>
        <span style="float: right;">
          <input type="submit" value="Edit Profile" name="edit_profile" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#ProfileModal" style="border-radius: 999px; font-weight: bold;">
        </span>
          {% endif %}
      </div>
      </section>

    <!-- Show All Following Modal -->
    {% if user.is_authenticated %}
    <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Following</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> 
            {% for following in show_all_following %}
            <div style="margin-top: .5rem;">
              <img alt="profile picture" height="44" width="50px" href="{% url 'index' %}"
              src="{% if following.user.username == 'johnlawniczak' %}{% static 'network/prof-images/john-2.png' %}
              {% elif following.user.username == 'TheProgrammer' %}{% static 'network/prof-images/john-1.png' %}
              {% elif following.user.first_name == 'Hermione' %}{% static 'network/prof-images/Hermione.png' %}
              {% elif following.user.first_name == 'Ron' %}{% static 'network/prof-images/ron.png' %}
              {% elif following.user.first_name == 'Hagrid' %}{% static 'network/prof-images/Hagrid.png' %}
              {% elif following.user.first_name == 'Harry' %}{% static 'network/prof-images/harry.png' %}
              {% else %}
              {% static 'network/images/owl-silhouette.png' %}
              {% endif %}">
            <span style="align-content: flex-end">&nbsp; <a href="{% url 'profile' following.user.username %}">{{ following.user.first_name }}</a>@{{ following.user }}</span>
          </div>
            {% empty %}
            <p class="text-center">Not Following Anyone</p>
            <p></p>
            <!--Owl gif-->
            <div class="text-center"> <img src="{% static 'network/images/owl.gif' %}" alt="owlgif" width="40%"></div>
            {% endfor %}
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <!-- Show All Followers Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Followers</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> 
            {% for followers in show_all_followers %}
            <div style="margin-top: 1rem;">
              <img alt="profile picture" height="44" width="50px" href="{% url 'index' %}"
              src="{% if followers.follower.username == 'johnlawniczak' %}{% static 'network/prof-images/john-2.png' %}
              {% elif followers.follower.username == 'TheProgrammer' %}{% static 'network/prof-images/john-1.png' %}
              {% elif followers.follower.first_name == 'Hermione' %}{% static 'network/prof-images/Hermione.png' %}
              {% elif followers.follower.first_name == 'Ron' %}{% static 'network/prof-images/ron.png' %}
              {% elif followers.follower.first_name == 'Hagrid' %}{% static 'network/prof-images/Hagrid.png' %}
              {% elif followers.follower.first_name == 'Harry' %}{% static 'network/prof-images/harry.png' %}
              {% else %}
              {% static 'network/images/owl-silhouette.png' %}
              {% endif %}">
            <span style="align-content: flex-end">&nbsp; <a href="{% url 'profile' followers.follower.username %}">{{ followers.follower.first_name }}</a>@{{ followers.follower }}</span>
            </div>
            {% empty %}
            <p class="text-center">No Followers</p>
            <p></p>
            <!--Owl gif-->
            <div class="text-center"> <img src="{% static 'network/images/owl.gif' %}" alt="owlgif" width="40%"></div>
            {% endfor %}
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if user.is_authenticated and user == user_profile %}
     <!-- Edit Profile Modal -->
     <div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="ProfileModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Profile Bio Form-->
          <div class="modal-body"> 
            <div style="margin-top: 1rem;">
              <form action="" method="" enctype="multipart/form-data">
                 <!--Image/Avatar-->
                <div>
                  <img alt="profile picture" height="64" width="70px" href="{% url 'index' %}"
                  src="{% static 'network/images/owl-silhouette.png' %}">
                  <input name="file" id="file" type="file" style="margin-left: .8rem;">
                  <button type="submit" class="btn btn-primary bt-sm" style="border-radius: 999px; float: right;">Upload</button>
                </div>
                <br>
                 <!--Bio-->
                <div>
                  <label for="Bio">Bio:</label>
                  <textarea name="Bio" id="bio" class="bio_form" value="" rows="4" placeholder="Bio">{{ bio }}</textarea>
                </div>
                <br>
               <!--Location-->
                <div>
                  <label for="Location">Location:</label>
                  <input name="Location" id="Location" class="bio_form" value="{{ location }}" placeholder="Location">
                </div>
               <!--Website-->
               <br>
                <div>
                  <label for="url">Website:</label>
                  <input name="url" id="url" class="bio_form" value="{{ website }}" placeholder="Website">
                </div>
               <!--DOB-->
               <br>
                <div>
                  <label>Birth date:</label>
                  <input name="Dob" id="datePickerId" type="date" class="bio_form" min="1940-01-01" max="2024-01-01" value=" {{ dob }}" placeholder="Date of birth">
                </div>
              </form>
            </div>
          </div> 
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary bt-sm" style="border-radius: 999px;">Save</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% include "network/hoot_posts.html" with posts=page_posts %}

<!--Pagination--> 
{% if page_posts.paginator.num_pages > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination" style="justify-content: center;">
      {% if page_posts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Back</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Back</a></li>
      {% endif %}
      <li class="page-item current-item"><span class="current page-link">
          {{ page_posts.number }} of {{ page_posts.paginator.num_pages }}
      </span></li>
      {% if page_posts.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a></li>
      {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {% endif %}
    </ul>
</nav>
{% endif %}

<!--Javascript link-->
<script src="{% static 'network/index.js' %}"></script>
<script src="{% static 'network/profile.js' %}"></script>

{% endblock %}